<p>auth-form works!</p>
<div class="auth-form">
    <h2>{{ isRegisterMode ? 'Registro' : 'Iniciar sesión' }}</h2>

    <form [formGroup]="authForm" (ngSubmit)="submit()">
        <input formControlName="email" type="email" placeholder="Correo" />
        <input formControlName="password" type="password" placeholder="Contraseña" />
        <button type="submit">{{ isRegisterMode ? 'Registrarse' : 'Entrar' }}</button>
    </form>

    <button (click)="toggleMode()" class="toggle">
      {{ isRegisterMode ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Regístrate' }}
    </button>

    <p class="message">{{ message }}</p>
</div>