<div style="padding: 1em;">
    <div class="container-fluid main">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center" style="height: 10vh;">
                <h2 class="text-center">JajaChat</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 convbox">
                <div class="row titlebox">
                    <h4 class="text-center">Conversaciones</h4>
                </div>
                <div class="convbox2">
                    <div class="row">
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/caro.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Carito de mi corazón</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/caro.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Carito de mi corazón</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/caro.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Carito de mi corazón</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                        <div class="row contactbox align-items-center">
                            <div class="col-3 col-sm-2 col-md-2 d-flex justify-content-center">
                                <img src="../../../assets/temp/cv.jpeg" class="imgcontact">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10">
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <p class="mb-0 fw-bold text-truncate w-50">Aníbal Andrade</p>
                                    <p class="mb-0 text-muted small text-truncate">2 hrs</p>
                                </div>
                                <p class="mb-0 text-truncate">Este es un mensaje</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-8 sidechat">
                <div class="row usertitle">
                    <div class="col-3 d-flex justify-content-center">
                        <img src="../../../assets/temp/cv.jpeg" alt="" style="height: 60px; border-radius: 30px; margin-top: 1em; margin-bottom: 1em;">
                    </div>
                    <div class="col-7 d-flex align-items-center">
                        <h4 class="mb-0 text-center">Aníbal Andrade</h4>
                    </div>
                </div>
                <div class="chatbox">
                    dsg
                </div>
                <div class="textbox px-3 py-2 d-flex align-items-center gap-2">
                    <label for="imageInput" class="btn btn-outline-secondary btn-sm m-0">
                      📎
                    </label>
                    <input type="file" id="imageInput" hidden>

                    <input type="text" class="form-control" placeholder="Escribe tu mensaje...">

                    <button class="btn btn-primary btn-sm">
                      📨
                    </button>
                </div>
            </div>
        </div>
    </div>